[submodule "deps/sonic"]
	path = deps/sonic
	url = https://github.com/ZirekHQ/waywardgeek-sonic
	branch = master
[submodule "deps/espeak-rs-piper"]
	path = deps/espeak-rs-piper
	url = https://github.com/ZirekHQ/piper-rs
	branch = bump-espeak-ng-submodule
