[submodule "deps/libtashkeel"]
	path = deps/libtashkeel
	url = https://github.com/austek/libtashkeel
[submodule "deps/espeak-ng"]
	path = deps/espeak-ng
	url = https://github.com/rhasspy/espeak-ng
[submodule "deps/tqsm"]
	path = deps/tqsm
	url = https://github.com/austek/tqsm
